body{
     background-color: yellow;
}

h1{
    font-size:45px;
    color:red;
    font-family: 'Modak', cursive;
    text-align: center;
    padding: 15px;
}

img{
     width:200px;
     height:200px;
}

.nav{
    background-color: royalblue;
}

.nav a{
    display: block;
    background-color: darkred;
    color: white;
}

.nav a:hover{
   background-color: deeppink;
   color: blue;
}